* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: bold 20px "Curier";
}

#main {
    width: 360px;
    height: 420px;
    background-color: #b7d4a8;
    margin: 100px auto;
    border: 8px solid black;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    #stage {
        width: 304px;
        height: 304px;
        border: 2px solid black;
        position: relative;
        #snake {
            div {
                width: 10px;
                height: 10px;
                background-color: #000;
                border: 1px solid #b7d4a8;
                position: absolute;
            }
        }
        #food {
            // width: 10px;
            // height: 10px;
            // background-color: #000;
            // border: 1px solid #b7d4a8;
            width: 10px;
            height: 10px;
            position: absolute;
            left: 40px;
            top: 50px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: space-between;
            div {
                width: 4px;
                height: 4px;
                background-color: #000;
                transform: rotate(45deg);
            }
        }
    }
    #score-panel {
        width: 300px;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
}
